p {
  margin: 10px 0px;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 50%;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 6px 9px 1px -1px;
  font-weight: 500;
  font-size: 14px;
}
.center-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.information {
  width: 98%;
  background-color: rgb(111 198 203 / 56%);
  height: 100%;
  border-radius: 10px;
  box-shadow: rgb(99 140 163 / 54%) 9px 9px 4px -1px;
}
